.unitbox{
    width:45px;
    size:5;
}
#content p{
	margin-left:3em;
}
#content input{
    height:30px;
    width:120px;
}#content th,td{
	padding-top:10px;
	margin-left:0;
	text-align: left;
	height:10px;
}
#content th{
	padding-left:10px;
	padding-right:10px;
	background-color: #1A6B9F;
	color:#FFF;
}

#content tr:nth-child(even){background-color: #f2f2f2;}

#content tr:hover {background-color: #ddd;}
#content .editbtn{
    background-color: white;
}
#content .editbtn button:hover{
    background-color: #1A6B9F;
    color:white;
}

#addrow{
	padding:10px;
	font-family: 'Barlow',sans-serif;
	background-color: white;
	border:1px solid #5DBCFF;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
#addrow:hover{
	background-color: #5DBCFF;
	border: 1px solid gray;
}
